body {
  margin: 0;
  padding: 0;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  /* color: #00ff00;
  background-color: #333; */
}
